html, body {
    height: 100%; margin: 0; padding: 0;
}

#map {
    height: 100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#sidebar {
    position: absolute;
    top: 30px;
    left: 50px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

#filterSection, #chartSection {
    position: absolute;
    left: 50px;
    width: 400px;
    top: 480px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

#about {
    position: absolute !important;
    top: 30px;
    right: 50px;
}

.gm-style-mtc {
    display: none;
}

#chart {
    position: absolute;
    top: 50px;
    left: 450px;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.customBtn {
    width: 120px !important;
}
